.search__form__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: beige;
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 10px;
}
.search__form {
	width: 100%;
	max-width: 1200px;
	padding: 0px 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.search__input {
	width: 100%;
	outline: none;
	padding: 5px 15px;
	border-radius: 10px 0px 0px 10px;
	border: 3px solid chartreuse;
	border-right: none;
	line-height: 30px;
	background: transparent;
	z-index: 1;
	transition: 0.2s ease;
	color: rgb(133, 247, 19);
	font-size: 19px;
}
.search__input__label {
	position: absolute;
	left: 35px;
	color: rgb(0, 0, 0);
	transition: 0.2s ease;
	z-index: 2;
	background-color: chartreuse;
	padding: 0px 4px;
}
.search__input:focus + .search__input__label,
.search__input:valid + .search__input__label {
	transform: translateY(-22px);
}
.search__button {
	background-color: rgb(80, 158, 2);
	border: 2px solid rgb(80, 158, 2);
	padding: 13px 5px;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
	color: chartreuse;
}
